<template>
  <section class="au-animate">
    <div class="row-fluid">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2>${heading}</h2>
        <p>Please fill out the following fields to login:</p>
        <div class="alert alert-danger" if.bind="signupError">${signupError}</div>
        <form role="form" submit.delegate="signup()">
          <div class="form-group">
            <label for="email">Username *</label>
            <input type="text" value.bind="username" class="form-control" id="email" placeholder="username" required="required">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" value.bind="email" class="form-control" id="email" placeholder="Email" a-required="required">
          </div>
          <div class="form-group">
            <label for="password">Password *</label>
            <input type="password" value.bind="password" class="form-control" id="password" placeholder="Password" required="required">
          </div>
          <button type="submit" class="btn btn-default">Signup</button>
        </form>
        <hr>
      </div>
    </div>
  </section>
</template>
